<div class="check-container">
  <h2 class="check-title">Trier par continent</h2>
  <div
    class="form-check form-check-inline"
    *ngFor="let continent of continents"
  >
    <label>
      <input
        class="form-check-input"
        type="radio"
        name="region"
        value="{{ continent }}"
        (change)="checkValue($event)"
      />
      {{ continent }}
    </label>
  </div>
</div>

<h2 class="text-center">{{ displayedCountries.length }} pays</h2>

<div class="d-flex flex-wrap align-items-center justify-content-center">
  <div *ngFor="let c of displayedCountries" class="flag-container m-3">
    <img src="{{ c.flag }}" alt="flag" />
    <div class="text-white name-container">
      <p class="mb-0">
        {{ c.name.length > 25 ? (c.name | slice: 0:15) : c.name }}
      </p>
      <p class="mb-0 fst-italic">
        {{ c.capital.length > 25 ? (c.capital | slice: 0:15) : c.capital }}
      </p>
    </div>
  </div>
</div>
