@import "../../bootstrap/bootstrap";

img {
  width: 250px;
  height: 150px;
  margin: 0;
}

.check-container {
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: solid 1px;
  text-align: center;
  font-size: 25px;
}

.flag-container {
  background-color: $tertiary;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.name-container {
  padding-left: 20px;
}
